*{     
    font-family: "Gamja Flower", sans-serif;  
    box-sizing: border-box;
}

html{
    height: 100%; 
}
body{
    height: 100%;
    margin: 0;
}
.container{
    height: 100%;
    background-color: #d0b2f8;
}

.chat-screen{
    height: calc(100% - 120px); 
}

.user{
    background-color: #FFFFFF;
    padding: 16px;
    height: 80px;
}

.user__column{
    float: left;
}

.user__pic{
    width:50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #d171f7;
}

.user__nick, .user__count{
    margin: 2px;  
}

.user__count{
    font-size: 20px;
    color: gray;
}

.chat-form{
    height: 120px;
    background-color: #FFFFFF;    
}
.chat-form__field{
    height: 120px;
}
.chat-form__msg{
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    resize: none; 
    font-size: 24px;
    padding: 10px;
}

.chat-form__bt{
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: #d0b2f8;
    font-size: 30px;
}

.chat-form__msg:focus{
    outline: none;
}

.chat-form__bt:active{
    background-color: #7a4a7a;
}